.main {
  background-image: url("/public/images/stars.png");
  height: 100vh;
  background-color: #0c0d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  align-items: center;
  margin-top: 150px;
  font-family: "Rowdies", cursive;
  color: #fe3b1f;
  font-weight: 700;
  font-size: 96px;
}

.button {
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: #fe3b1f;
  color: #f1f1f1;
  padding: 23px 50px;
  text-align: center;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}
.link {
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 40px;
  z-index: 999;
}
.img {
  position: relative;
  right: 30px;
  top: -50px;
  width: 470px;
  height: auto;
  max-width: 100%;
}
