.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.title {
  padding-top: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
}

.link {
  color: #f1f1f1;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 45px;
}

.button {
  display: flex;
  width: 60%;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #fe3b1f;
  color: #f1f1f1;
  padding: 10px 15px;
  border: 0px;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
}

.mainInfo {
  width: 60%;
  background-color: #fff;
  padding: 10px 15px;
  height: 1300px;
  margin-bottom: 50px;
}

.infoContent {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  text-align: left;
}

.column {
  width: 45%;
}
.infoTitle {
  color: #fe3b1f;
  text-decoration-line: underline;
  font-size: 25px;
  padding-bottom: 20px;
}

.infoProperty {
  padding-right: 10px;
  display: flex;
}
.infoProperty > span {
  width: 200px;
  padding-bottom: 20px;
}

.covidTitle {
  color: #fe3b1f;
  text-decoration-line: underline;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 50px;
}

.question {
  padding-top: 50px;
}
.insightsTitle {
  color: #fe3b1f;
  text-decoration-line: underline;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 120px;
}

.textAreaTitle {
  padding-top: 50px;
  font-size: 18px;
}
.textArea {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.dateInput {
  width: 60%;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
