.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.title {
  padding-top: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
}

.link {
  color: #f1f1f1;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 40px;
}
.noApplications {
  padding-top: 100px;
  width: 300px;
  color: #f1f1f1;
}
